<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>/login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminArticle</servlet-name>
        <servlet-class>com.controller.AdminArticle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertArticle</servlet-name>
        <servlet-class>com.controller.InsertArticle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCategory</servlet-name>
        <servlet-class>com.controller.ListCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteArticle</servlet-name>
        <servlet-class>com.controller.DeleteArticle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>com.controller.LogOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminArticle</servlet-name>
        <url-pattern>/adminArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertArticle</servlet-name>
        <url-pattern>/insertArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCategory</servlet-name>
        <url-pattern>/listCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteArticle</servlet-name>
        <url-pattern>/deleteArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/logOut</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
